****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [17]:
# import necessary packages

import pandas as pd
import json
from pandas.io.json import json_normalize

In [93]:
# read the JSON file to a DataFrame

df = pd.read_json('data/world_bank_projects.json')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [25]:
df[['countryname', 'project_name']].count()

countryname     500
project_name    500
dtype: int64

In [26]:
df[['countryname', 'project_name']].nunique()

countryname     118
project_name    500
dtype: int64

In [30]:
# 1. Find the 10 countries with most projects
# group by the number of times the country appears in the DataFrame for any project, 
# printing the countries with 10 most number of projects

countries = df.groupby('countryname')['project_name'].count().sort_values(ascending=False)
print(countries.head(10))

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: project_name, dtype: int64

In [106]:
# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

themes = json.load((open('data/world_bank_projects.json')))
df1 = json_normalize(themes, 'mjtheme_namecode', ['id'])
df1 # return the entire dataframe

     code                                          name       id
0       8                             Human development  P129828
1      11                                                P129828
2       1                           Economic management  P144674
3       6         Social protection and risk management  P144674
4       5                         Trade and integration  P145310
5       2                      Public sector governance  P145310
6      11  Environment and natural resources management  P145310
7       6         Social protection and risk management  P145310
8       7                   Social dev/gender/inclusion  P144665
9       7                   Social dev/gender/inclusion  P144665
10      5                         Trade and integration  P144933
11      4      Financial and private sector development  P144933
12      6         Social protection and risk management  P146161
13      6                                                P146161
14      2                      Public sector governance  P121185
15      4      Financial and private sector development  P121185
16     11  Environment and natural resources management  P127033
17      8                                                P127033
18     10                             Rural development  P130164
19      7                                                P130164
20      2                      Public sector governance  P130903
21      2                      Public sector governance  P130903
22      2                      Public sector governance  P130903
23     10                             Rural development  P145339
24      2                                                P145339
25     10                             Rural development  P146653
26      6         Social protection and risk management  P146653
27      6         Social protection and risk management  P146653
28     11  Environment and natural resources management  P146653
29      4                                                P144140
...   ...                                           ...      ...
1469    8                             Human development  P126465
1470    9                             Urban development  P128763
1471    6         Social protection and risk management  P128763
1472    6         Social protection and risk management  P128763
1473    9                             Urban development  P128763
1474    2                      Public sector governance  P131860
1475    2                      Public sector governance  P131860
1476   10                             Rural development  P123322
1477   11                                                P123322
1478    8                             Human development  P128096
1479    7                   Social dev/gender/inclusion  P128096
1480   11  Environment and natural resources management  P132138
1481    5                                                P132138
1482    6         Social protection and risk management  P129177
1483    8                                                P129177
1484    4      Financial and private sector development  P127299
1485    7                   Social dev/gender/inclusion  P127299
1486    8                             Human development  P125298
1487    5                         Trade and integration  P125298
1488    2                      Public sector governance  P125298
1489    8                             Human development  P125298
1490   10                             Rural development  P128309
1491    6                                                P128309
1492   10                             Rural development  P117243
1493   10                             Rural development  P117243
1494   10                             Rural development  P117243
1495    9                             Urban development  P126321
1496    8                             Human development  P126321
1497    5                         Trade and integration  P126321
1498    4      Financial and private sector development  P126321

[1499 rows x 3 columns]

In [107]:
# index by 'code' 

df1 = df1.set_index('code')
df1.head()

                                       name       id
code
8                         Human development  P129828
11                                           P129828
1                       Economic management  P144674
6     Social protection and risk management  P144674
5                     Trade and integration  P145310

In [108]:
# count the number of times a theme appears for name, printing the 10 most occurring project themes

df1.name.value_counts().head(10)

# notice the blank project theme

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [159]:
# 3. In 2. above you will notice that some entries have only the code and the name is missing. 
#    Create a dataframe with the missing names filled in.

# load as dataframe, normalize json to flat file
themes = json.load((open('data/world_bank_projects.json')))
df2 = json_normalize(themes, 'mjtheme_namecode', ['id'])

In [177]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
code    1499 non-null object
name    1499 non-null object
id      1499 non-null object
dtypes: object(3)
memory usage: 35.2+ KB

In [178]:
# check number of values for each code (notice difference from previous question, top 10 themes) this means there are blanks

df2['code'].value_counts()

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
3      15
Name: code, dtype: int64

In [179]:
df2.code.nunique()

11

In [226]:
unique_themes = df2[['name','code']].drop_duplicates()
# drop duplicate name/code combinations

unique_themes = unique_themes.reset_index()
unique_themes = unique_themes.drop('index',axis=1)
# clear all rows where name = ''
unique_themes = unique_themes[unique_themes.name != '']
unique_themes # 11 codes with the name of the theme

                                            name code
0                              Human development    8
2                            Economic management    1
3          Social protection and risk management    6
4                          Trade and integration    5
5                       Public sector governance    2
6   Environment and natural resources management   11
7                    Social dev/gender/inclusion    7
8       Financial and private sector development    4
11                             Rural development   10
15                             Urban development    9
19                                   Rule of law    3

In [230]:
# merge df2 and unique_themes on code. this will create a dataframe with full code/name rows with no missing values

full_themes = pd.merge(df2, unique_themes, on='code', suffixes=('_x', '')).drop('name_x', axis=1)
full_themes

     code       id               name
0       8  P129828  Human development
1       8  P127033  Human development
2       8  P132616  Human development
3       8  P146271  Human development
4       8  P146271  Human development
5       8  P146271  Human development
6       8  P146109  Human development
7       8  P146109  Human development
8       8  P143025  Human development
9       8  P122700  Human development
10      8  P145118  Human development
11      8  P128628  Human development
12      8  P098847  Human development
13      8  P125018  Human development
14      8  P132753  Human development
15      8  P132753  Human development
16      8  P132753  Human development
17      8  P131202  Human development
18      8  P126130  Human development
19      8  P126130  Human development
20      8  P126130  Human development
21      8  P126034  Human development
22      8  P131212  Human development
23      8  P131441  Human development
24      8  P144532  Human development
25      8  P144532  Human development
26      8  P123503  Human development
27      8  P123503  Human development
28      8  P120397  Human development
29      8  P143060  Human development
...   ...      ...                ...
1469    9  P130972  Urban development
1470    9  P130972  Urban development
1471    9  P130972  Urban development
1472    9  P101289  Urban development
1473    9  P118152  Urban development
1474    9  P130528  Urban development
1475    9  P130461  Urban development
1476    9  P130174  Urban development
1477    9  P131394  Urban development
1478    9  P112901  Urban development
1479    9  P112901  Urban development
1480    9  P118916  Urban development
1481    9  P128763  Urban development
1482    9  P128763  Urban development
1483    9  P126321  Urban development
1484    3  P128443        Rule of law
1485    3  P130459        Rule of law
1486    3  P127787        Rule of law
1487    3  P131640        Rule of law
1488    3  P144386        Rule of law
1489    3  P144386        Rule of law
1490    3  P145095        Rule of law
1491    3  P121152        Rule of law
1492    3  P129332        Rule of law
1493    3  P105269        Rule of law
1494    3  P128950        Rule of law
1495    3  P130528        Rule of law
1496    3  P131767        Rule of law
1497    3  P125202        Rule of law
1498    3  P131266        Rule of law

[1499 rows x 3 columns]

In [231]:
# return count of each theme and notice difference from #2. missing values filled

full_themes['name'].value_counts()

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: name, dtype: int64